body {
  color: #a3a5ae;
  font-size: 15px;
  background-color: #fafafa;
}

div {
  background-color: white;
  position: relative;
  bottom: 10px;
}

h1 {
  text-align: center;
  color: #2b2c31;
  font-family: 'Poppins', serif;
  position: relative;
  top: 50px;
}

h3 {
color: black;
font-family: 'Poppins', serif;
}

.top-container {
  background-color: #fafafa;
  text-align: center;
  margin-top: 30px;
}

.top-p {
  font-size: 30px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: #a3a5ae;
  text-align: center;
  position: relative;
  top: 80px;
}

.bottom-p {
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 40px;
  left: 480px;
  height: 40px;
  width: 470px;
}

.supervisor {
  border-top-style: solid;
  border-top-color: #45d3d3;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  padding: 5px 25px;
  position: relative;
  top: 180px;
  left: 235px;
  box-shadow: 0 2px 10px 2px #a3a5ae;
}

.supervisor-img {
  width: 50px;
  margin-top: 37px;
  margin-left: 190px;
}

.team-builder {
  border-top-style: solid;
  border-top-color: #ea5353;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  padding: 5px 25px;
  position: relative;
  bottom: 160px;
  left: 565px;
  box-shadow: 0 2px 10px 2px #a3a5ae;
}

.tb-img {
  width: 50px;
  margin-top: 37px;
  margin-left: 190px;
}

.karma {
  border-top-style: solid;
  border-top-color: #fcaf4a;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  padding: 5px 25px;
  position: relative;
  bottom: 130px;
  left: 565px;
  box-shadow: 0 2px 10px 2px #a3a5ae;

}

.karma-img {
  width: 50px;
  margin-top: 37px;
  margin-left: 190px;
}

.calculator {
  border-top-style: solid;
  border-top-color: #549ef2;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  padding: 5px 25px;
  position: absolute;
  top: 405px;
  left: 903px;
  box-shadow: 0 2px 10px 2px #a3a5ae;
}

.calculator-img {
  width: 50px;
  margin-top: 37px;
  margin-left: 190px;
}
